<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>project details</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel='stylesheet' href="/stylesheets/20.css">
</head>
<body>
<% include ../partials/menu %>
  <div class="row">
    <div class="col-md-2" id="sidemenu">
      <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical" style="padding-top: 20px">
        <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="/projects/projectdetails/<%= `${projectname[0].id}`%>/overview" role="tab" aria-controls="v-pills-home" aria-selected="true" style="width: 105%">Overview</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="/projects/projectdetails/<%= `${projectname[0].id}`%>/activity" role="tab" aria-controls="v-pills-profile" aria-selected="false" style="width: 105%">Activity</a>
        <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="/projects/projectdetails/<%= `${projectname[0].id}`%>/members" role="tab" aria-controls="v-pills-messages" aria-selected="false" style="width: 105%">Members</a>
        <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="/projects/projectdetails/<%= `${projectname[0].id}`%>/issues" role="tab" aria-controls="v-pills-settings" aria-selected="false" style="width: 105%">Issues</a>
      </div>
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab"></div>
        <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab"></div>
        <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab"></div>
        <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab"></div>
      </div>
    </div>
    <div class="col-md-9">
      <h1>Overview</h1><hr>
      <h2><%= projectname[0].name %></h2>
      <div class="bord">
        <div class="fill">
          <h6>Issue tracking</h6><br><br><br>
        </div>
      </div><br><br><br>
      <div class="bord">
        <div class="fill">
          <h6>Members</h6>
          <ul>
            <% for(let i=0; i < projectmembers.length; i++){ %>
            <li><%= projectmembers[i].fullname %></li>
            <% } %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
